
html, body {
    margin: 0;
}

.carousel {
    max-width: 1000px;
    position: relative;
}

.carousel .carousel-item {
    display: none;
}

.carousel .carousel-item-visible {
    display: block;
}

.carousel .carousel-item img {
    width: 100%;
    max-width: 1000px;
    height: auto;
}

.carousel .carousel-actions {
    display: flex;
    width: 100%;
    justify-content: space-between;
    position: absolute;
    top: 50%;
    /* perfectly center with top (^) and transform and responsive*/
    transform: translateY(-50%);
}

.carousel .carousel-actions button {
    border-radius: 50%;
    border: none;
    width: 50px;
    height: 50px;
    align-self: center;
    background-color: #ffffff;
    border-style: solid;
    border-width: 2px;
    color: #41403e;
    cursor: pointer;
    font-size: 1rem;
    line-height: 23px;
    outline: none;
    padding: .75rem;
    text-decoration: none;
    transition: all 235ms ease-in-out;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.carousel .carousel-actions button:hover {
  box-shadow: rgba(0, 0, 0, .3) 2px 8px 8px -5px;
  transform: translate3d(0, 3px, 0);
}

.carousel .carousel-actions button:focus {
  box-shadow: rgba(0, 0, 0, .3) 2px 8px 4px -6px;
  transform: translate3d(0, 3px, 0);

}

.carousel .carousel-actions button#carousel-button-prev {
    margin-left: 50px;
} 
.carousel .carousel-actions button#carousel-button-next {
    margin-right: 50px;
} 